# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Environments
.env
.venv/
env/
*.sqlite
*.db

# Conda
*.conda
*.lock
conda-meta/

# Logs and Debug
*.log
logs/
.pytest_cache/

# IDEs or System
.vscode/
.idea/
*.ipynb_checkpoints
.mypy_cache/

# System
.DS_Store
